[class^=col-] {
    min-height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;;
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);}

    .navbar {
        min-height: 50px;
        margin-bottom: 0px;
        border: 1px solid transparent;
    }
    .navbar-default {
        background-color: #2c3e50;
    }
    .navbar-default .navbar-nav>li>a,.navbar-default .navbar-brand {
        color: white;
    }
    .navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-brand:hover {
        color: #1abc9c
    }
    
    img.avatar{
        width: 200px;
    }

    .bg-green{
        background-color: #1abc9c;
    }
    .bg-green span,.bg-green h1,.bg-green h2,.bg-green h3,
    .bg-green h4,.bg-green h5,.bg-green h6{
        color: white;
    }
    .bg-dark{
        background-color: #2c3e50;
    }
