.container,.main,.my-box-img{   
    padding-top: 20px;
    padding-bottom: 20px;;
}

    .navbar {
        min-height: 50px;
        margin-bottom: 0px;
        border: 1px solid transparent;
    }
    .navbar-default {
        background-color: #2c3e50;
    }
    .navbar-default .navbar-nav>li>a,.navbar-default .navbar-brand {
        color: white;
    }
    .navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-brand:hover {
        color: #1abc9c
    }

    img.avatar{
        width: 200px;
    }

    .bg-green{
        background-color: #1abc9c;
    }

    .bg-green p,.bg-green span,.bg-green h1,.bg-green h2,.bg-green h3,
    .bg-green h4,.bg-green h5,.bg-green h6{
        color: white;
    }
    .bg-dark{
        color: white;
        background-color: #2c3e50;
    }
    .btn-default.download {
        color: white;
        background-color: #1abc9c;
        border-color: white;
    }
    footer{
        color: white;
        background-color: #3a546d;
    }
   
    span.star::before,span.star:after  {
        display: inline-block;
        position: relative;
        content: "";
        height: 2px;
        background: white;
        width: 100px;
        vertical-align: middle;
        margin-right: 10px;
        margin-left: 10px;
      }
      span.star.black::before,span.star.black:after  {
        background: #2c3e50;
      }
      
      .form-control {
        color: #2c3e50;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: none;
    }
